@keyframes Animation {
  0% {
    transform: translate(-50%, 200px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.container {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 600px;
  height: 250px;
  padding: 0 50px;
  background-color: #495057;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgb(0 0 0 / 80%);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  animation-name: Animation;
  animation-duration: 1s;
}

.container__p {
  text-align: center;
}

@media (max-width: 685px) {
  .container {
    width: 90%;
    font-size: 12px;
  }
}

@media (max-width: 455px) {
  .container {
    width: 90%;
    font-size: 10px;
  }
}
